{% extends "base.html" %}

{% block content %}
    
    
	<div class="panel left2">
        <h1>{{ user.first_name }}'s Profile</h1>
        <div class="tweetWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}
            </a>
			<p>
                {{ tweets.count }} Tweets
                <span class="spacing">{{ user.profile.follows.all.count }} Following</span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} Followers</span>
            </p>
        </div>
    </div>
	<div class="panel left2">
        <h1>Public Profiles</h1>
        {% for user, tweets in obj %}
        
		<div class="tweetWrapper">
            <p><a href="/users/{{ user.username }}" title="click to view complete profile">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}</span>
            </a>
                @{{ user.username }}
            </p>
			<p>
                {{ user.tweet_count }} Tweets
                <span class="spacing">{{ user.profile.follows.all.count }} Following</span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} Followers</span>
            </p>
            
        </div>
		
        {% endfor %}
    </div>
{% endblock %}
